.message {
    display: flex;
    align-items: center;
    padding: 10px;
}
.message > img{
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
}
.message__timestamp {
    color: grey;
    font-size: 13px;
    font-weight: 300;
}
.message__info{
    padding-left: 10px;
}